.backdrop {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

&.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

&.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.7);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     scale 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    z-index: 4;
    padding: 40px;

    width: 528px;
    height: 581px;
    background: $background-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     scale 250ms cubic-bezier(0.4, 0, 0.2, 1), 
     opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    background-color: $background-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.btn-close__icon {
    width: 18px;
    height: 18px;
    fill: rgba(0, 0, 0, 1);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.btn-close:hover & {
    fill: $accent-color;
 }
}

.modal-form__title {
display: block;
margin-bottom: 12px;

font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: $title-text-color;
}

.modal-form__field {
 position: relative;
 display: block;
 flex-direction: column;  
 text-align: left;
 margin-bottom: 10px;

  &:focus-within .modal-form__icon {
    fill: $accent-color;
 }

  &:focus-within .modal-form__input {
    border-color: $accent-color;
    outline: none;
 }
}

.modal-form__label {
display: block;
margin-bottom: 4px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.01em;
color: $text-color;
}
 
.modal-form__input {
display: block;
padding-left: 40px;
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
position: absolute;
top: 50%;
left: 14px;
width: 18px;
height: 18px;

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field--textarea {
    margin-bottom: 20px;
}

.modal-form__input--comment {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    resize: none;
    padding: 12px 16px;
    width: 448px;
    height: 120px;

&::placeholder {
font-weight: 400;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.01em;
color: rgba(117, 117, 117, 0.5);
 }
}

.modal-form__field--checkbox {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.modal-form__input--checkbox {
    display: inline-block;
    margin-right: 8px;
    width: 16px;
    height: 15px;
    color: $title-text-color;

    &:checked + .modal-form__icon--checked {
    background-image: url(../images/checked.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
 }
}

.modal-form__icon--checked {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 15px;
    left: 10px;
    top: 4px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
}

.modal-form__label---agree {
    margin-bottom: 0;
    padding-left: 35px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.modal-form__field--checkbox a {
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $accent-color;
}