.teem {
background-color: $secondary-bgr-color;
}

.teem__title {
    margin-bottom: 50px;
}

.teem__list {
    display: flex;
}

.teem__item {
width: 270px;
background: $background-color;
text-align: center;

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

 &:not(:first-child) {
    margin-left: 30px;
 }
}

.teem__thumb {
    padding: 30px 32px;
}

.teem__name {
margin-bottom: 10px;

font-size: 16px;
line-height: 1.19;
font-weight: 500;
color: $title-text-color;
}

.teem__position {
margin-bottom: 16px;

font-size: 16px;
line-height: 1.19;
font-weight: 400;
color: $text-color;
}
