.work__title,
.teem__title {
font-size: 36px;
line-height: 1.17;
text-align: center;
color: $title-text-color;
}

.work__title {
    margin-bottom: 50px;
}

.work__list {
    display: flex;
}

.work__item:not(:first-child) {
    margin-left: 30px;
}

.work__thumb {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

 &::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
 }
}

.work__text {
position: absolute;
display: flex;
z-index: 2;

padding-top: 30px;
padding-bottom: 30px;
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: $background-color;
}