    $title-text-color: #212121;
    $text-color: #757575;
    $accent-color: #2196F3;
    $background-color: #fff;
    $footer-color: #2F303A;
    $secondary-bgr-color: #F5F4FA;
    $icon-color: #AFB1B8;
    $font-family: 'Roboto', sans-serif;